.env

# Ignore most of the data directory folders
data/unifi
data/fileshare
data/openvpn
data/plex
data/samba

# Data directory exceptions

data/letsencrypt/certs
data/letsencrypt/accounts

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Python cache
__pycache__
*.pyc

**/*.db
**/*.sqlite
