.env

# Ignore most of the data directory folders
data/*

# Data directory exceptions
!data/home-assistant

!data/letsencrypt
data/letsencrypt/certs
data/letsencrypt/accounts

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Python cache
__pycache__
*.pyc

# Other
*.db
secrets.yaml
deps
tts
